body {
    background-color: rgb(32, 30, 30);
    color: white;
}

.book {
    height: 200px;
    padding: 20px;
    background-color: rgb(247, 235, 235);
    color: rgb(19, 18, 18);
    font-size: 2em;
}

.book h1 {
    font-size: 1em;;
}

.book p {
    font-size: 0.5em;
}

#book-registration {
    display: none;
}

#book-registration.active {
    display: block;
}

.shelf {
    display: flex;
    gap: 30px;
}
